*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --theme-bg-black: #040b14;
    --theme-bg-blue:#149DDD;
    --theme-white:#ffff;
    --theme-light:#292f37;
}

img{
    max-width: 100%;
    display: block;
}

.about .about-title h2::before,
.skills .skills-title h2::before,
.resume .resume-title h2::before,
.portfolio .portfolio-title h2::before{
    content: '';
    width: 60px;
    height: 3px;
    background-color: var(--theme-bg-blue);
    display: block;
    position: absolute;
    bottom: 0;
}


/* header section start */

header .img img{
    border: 8px solid #ffffff26 !important;
}

header .icons ul li a{
    border: 3px solid #ffffff26 !important;
    transition: all .3s ease-in-out;
}

header .icons ul li a:hover{
    background-color: var(--theme-bg-blue);
}

header nav ul li a{
    transition: all .3s ease-in-out;
}

header nav ul li:hover{
    background-color: #ffffff15 ;
}

header nav ul li a:hover{
    color: #ffffff !important;
}

header nav ul li a:hover i{
    color: #149ddd;
}

/* header section end */

/* main section start */

main{
    width: calc(100% - 300px);
    margin-left: auto;

}
/* main section end */

/* hero section start  */

.hero .hero-img{
    background-image: url(../images/hero-bg.jpg);
    background-color: #040b144c;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
}

/* hero section end  */

/* resume section start */

.resume .resume-body::before{
    content: '';
    width: 8px;
    border: 2px solid var(--theme-bg-blue);
    background-color: var(--theme-white);
    border-radius: 50%;
    border-color: #149ddd;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    transform: translate(-55%);
}

/* resume section end */